.tracker-container {
    width: 100%;
    text-align: left;
    background-color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tracker-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 150px 100px;
    background-color: #fefefe;
    width: 100%;
}

.tracker-image {
    float: left;
}

.tracker-image img {
    height: 150px;
    width: max-content;
}

.tracker-text {
    margin-left: 10px;
    margin-bottom: -20px;
    font-size: 1.2em;
    font-weight: 500;
    color: #000;
}

.week-slider-wrapper {
    display: flex;
    align-items: center;
    margin-top: -120px;
    margin-bottom: 20px;
    width: 95%;
}

.week-slider {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #02a2ae;
    padding: 10px;
    overflow-x: auto;
    scroll-behavior: smooth;
    flex-grow: 1;
    position: relative;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    border-radius: 20px;
}

.week-slider::-webkit-scrollbar {
    display: none;  /* Chrome, Safari, and Opera */
}

.week-button {
    margin: 5px;
    padding: 10px 15px;
    background-color: #008b95;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    color: #fff;
    white-space: nowrap;
}

.week-button.active {
    background-color: #eae7e7;
    color: #000;
}

.prev, .next {
    background: none;
    border: none;
    font-size: 24px;
    color: #008b95;
    cursor: pointer;
    padding: 10px;
}

.prev {
    margin-right: 10px;
}

.next {
    margin-left: 10px;
}

.content {
    padding: 40px 20px;
    background-color: #9bdce0;
    text-align: center;
    width: 90%;
    margin-bottom: 20px;
    border-radius: 15px;
}

.content h2 {
    font-size: 2em;
    color: #02a2ae;
}

.content p {
    font-size: 1.4em;
}

.fruit-image {
    width: 120px;
    height: 120px;
    margin-top: 15px;
}

.details {
    padding: 40px 20px;
    background-color: #9bdce0;
    text-align: left;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 15px;
}

.details h3 {
    color: #02a2ae;
    font-size: 1.6em;
}

.details p {
    font-size: 1.2em;
}