.medical-care-container {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20vh 50px;
    height: 335vh;
  }
  
  .medcare-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #008b95 0%, #86c2c6 100%);
    padding: 20px;
    border-radius: 20px;
    width: 180vh;
    margin-left: 40px;
  }
  
  .medcare-banner h1 {
    color: white;
    font-size: 28px;
    margin: 0;
  }
  
  .medcare-banner-image {
    width: 200px;
    height: 200px;
  }
  
  .tracker-card {
    margin-top: 30px;
    padding: 20px;
    border: 2px solid #efefef;
    border-radius: 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    width: 160vh;
    height: 200px;
    margin-left: 110px;
    overflow: hidden;
  }
  
  .card-content {
    display: flex;
    align-items: center;
  }
  
  .tracker-image {
    width:200px;
    height: 160px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 10px;
  }
  
  .tracker-info {
    text-align: left;
  }
  
  .tracker-info h2 {
    font-size: 20px;
    color: #333;
  }
  
  .tracker-info p {
    color: #666;
    font-size: 15px;
  }

  .track-butto {
    background-color: #02a2ae;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
  }
  
  .track-butto:hover {
    background-color: #008b95;
  }
